-- =========================================================
-- Script de création de la base de données AgenceImmobiliere
-- Version : SQL Server 2016
-- Contenu : Structure complète (tables, contraintes, relations)
-- Auteur : Henriette Nkondi
-- Date : v1 09 Nov 2025
-- =========================================================

/****** Object:  Table [dbo].[Adresse]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresse](
	[IdAdresse] [int] IDENTITY(1,1) NOT NULL,
	[Rue] [nvarchar](50) NOT NULL,
	[CodePostal] [nvarchar](50) NULL,
	[Ville] [nvarchar](50) NULL,
	[Pays] [nvarchar](50) NULL,
 CONSTRAINT [PK_Adresse] PRIMARY KEY CLUSTERED 
(
	[IdAdresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appartenance]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appartenance](
	[IdAppartenance] [int] IDENTITY(1,1) NOT NULL,
	[IdPersonne] [int] NOT NULL,
	[IdBien] [int] NOT NULL,
 CONSTRAINT [PK_Appartenance] PRIMARY KEY CLUSTERED 
(
	[IdAppartenance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bien]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bien](
	[IdBien] [int] IDENTITY(1,1) NOT NULL,
	[TypeBien] [nvarchar](50) NOT NULL,
	[Prix] [decimal](10, 2) NOT NULL,
	[Surface] [decimal](10, 2) NOT NULL,
	[PEB] [char](1) NULL,
	[NbreChambre] [int] NOT NULL,
	[NbreFacade] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StatutActuel] [nvarchar](50) NOT NULL,
	[DateDisponible] [date] NULL,
	[DateCreation] [date] NOT NULL,
	[IdAdresse] [int] NULL,
	[TypeContrat] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bien] PRIMARY KEY CLUSTERED 
(
	[IdBien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[IdDocument] [int] IDENTITY(1,1) NOT NULL,
	[NomDocument] [nvarchar](50) NOT NULL,
	[TypeDocument] [nvarchar](50) NOT NULL,
	[DateAjout] [date] NOT NULL,
	[Url] [nvarchar](50) NULL,
	[IdBien] [int] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[IdDocument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evenement]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evenement](
	[IdEvenement] [int] IDENTITY(1,1) NOT NULL,
	[TypeEvenement] [nvarchar](50) NOT NULL,
	[DateEvenement] [date] NULL,
	[Description] [nvarchar](50) NULL,
	[IdUtilisateur] [int] NOT NULL,
	[IdBien] [int] NOT NULL,
 CONSTRAINT [PK_Evenement] PRIMARY KEY CLUSTERED 
(
	[IdEvenement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriqueStatut]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriqueStatut](
	[IdHistorique] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](50) NOT NULL,
	[DateDebut] [date] NOT NULL,
	[DateFin] [date] NULL,
	[IdBien] [int] NOT NULL,
 CONSTRAINT [PK_HistoriqueStatut] PRIMARY KEY CLUSTERED 
(
	[IdHistorique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipationEvenement]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipationEvenement](
	[IdParticipation] [int] IDENTITY(1,1) NOT NULL,
	[IdPersonne] [int] NOT NULL,
	[IdEvenement] [int] NOT NULL,
	[RolePersonne] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ParticipationEvenement] PRIMARY KEY CLUSTERED 
(
	[IdParticipation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[IdPersonne] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Prenom] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[IdAdresse] [int] NULL,
 CONSTRAINT [PK_Personne] PRIMARY KEY CLUSTERED 
(
	[IdPersonne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 09-11-25 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[IdUtilisateur] [int] IDENTITY(1,1) NOT NULL,
	[NomUtilisateur] [nvarchar](50) NOT NULL,
	[Prenom] [nvarchar](50) NOT NULL,
	[Identifiant] [nvarchar](50) NULL,
	[HashPassword] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[IdAdresse] [int] NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[IdUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appartenance]  WITH CHECK ADD  CONSTRAINT [FK_Appartenance_Bien] FOREIGN KEY([IdBien])
REFERENCES [dbo].[Bien] ([IdBien])
GO
ALTER TABLE [dbo].[Appartenance] CHECK CONSTRAINT [FK_Appartenance_Bien]
GO
ALTER TABLE [dbo].[Appartenance]  WITH CHECK ADD  CONSTRAINT [FK_Appartenance_Personne] FOREIGN KEY([IdPersonne])
REFERENCES [dbo].[Personne] ([IdPersonne])
GO
ALTER TABLE [dbo].[Appartenance] CHECK CONSTRAINT [FK_Appartenance_Personne]
GO
ALTER TABLE [dbo].[Bien]  WITH CHECK ADD  CONSTRAINT [FK_Bien_Adresse] FOREIGN KEY([IdAdresse])
REFERENCES [dbo].[Adresse] ([IdAdresse])
GO
ALTER TABLE [dbo].[Bien] CHECK CONSTRAINT [FK_Bien_Adresse]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Bien] FOREIGN KEY([IdBien])
REFERENCES [dbo].[Bien] ([IdBien])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Bien]
GO
ALTER TABLE [dbo].[Evenement]  WITH CHECK ADD  CONSTRAINT [FK_Evenement_Bien] FOREIGN KEY([IdBien])
REFERENCES [dbo].[Bien] ([IdBien])
GO
ALTER TABLE [dbo].[Evenement] CHECK CONSTRAINT [FK_Evenement_Bien]
GO
ALTER TABLE [dbo].[Evenement]  WITH CHECK ADD  CONSTRAINT [FK_Evenement_Utilisateur] FOREIGN KEY([IdUtilisateur])
REFERENCES [dbo].[Utilisateur] ([IdUtilisateur])
GO
ALTER TABLE [dbo].[Evenement] CHECK CONSTRAINT [FK_Evenement_Utilisateur]
GO
ALTER TABLE [dbo].[HistoriqueStatut]  WITH CHECK ADD  CONSTRAINT [FK_HistoriqueStatut_Bien] FOREIGN KEY([IdBien])
REFERENCES [dbo].[Bien] ([IdBien])
GO
ALTER TABLE [dbo].[HistoriqueStatut] CHECK CONSTRAINT [FK_HistoriqueStatut_Bien]
GO
ALTER TABLE [dbo].[ParticipationEvenement]  WITH CHECK ADD  CONSTRAINT [FK_ParticipationEvenement_Evenement] FOREIGN KEY([IdEvenement])
REFERENCES [dbo].[Evenement] ([IdEvenement])
GO
ALTER TABLE [dbo].[ParticipationEvenement] CHECK CONSTRAINT [FK_ParticipationEvenement_Evenement]
GO
ALTER TABLE [dbo].[ParticipationEvenement]  WITH CHECK ADD  CONSTRAINT [FK_ParticipationEvenement_Personne] FOREIGN KEY([IdPersonne])
REFERENCES [dbo].[Personne] ([IdPersonne])
GO
ALTER TABLE [dbo].[ParticipationEvenement] CHECK CONSTRAINT [FK_ParticipationEvenement_Personne]
GO
ALTER TABLE [dbo].[Personne]  WITH CHECK ADD  CONSTRAINT [FK_Personne_Adresse] FOREIGN KEY([IdAdresse])
REFERENCES [dbo].[Adresse] ([IdAdresse])
GO
ALTER TABLE [dbo].[Personne] CHECK CONSTRAINT [FK_Personne_Adresse]
GO
ALTER TABLE [dbo].[Utilisateur]  WITH CHECK ADD  CONSTRAINT [FK_Utilisateur_Adresse] FOREIGN KEY([IdAdresse])
REFERENCES [dbo].[Adresse] ([IdAdresse])
GO
ALTER TABLE [dbo].[Utilisateur] CHECK CONSTRAINT [FK_Utilisateur_Adresse]
GO
